 
 
 /*  EVERYTHING  */
 
 *:link, *:visited  {
    color:black;
}

html {
    font-size: 16px;
    color: black;
    background-color: rgb(232, 232, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
.hide {
    display: none;
}


 
 /* heading */
h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 3rem 1rem 2rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-transform:capitalize;
}

 h4 {
     font-size: 1rem;
     text-transform: uppercase;
     margin-bottom: 1rem;
 }

s {
    text-decoration: line-through;
}

 /*   1. HEADER      */

header {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
    text-transform: uppercase;
    width: 100%;
   
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.404);
    z-index: 1;
}
        header .logo {
            display: flex;
            align-items: center;
        }
        header .logo img {
            width: 10rem;
        }

        header .search-bar {
            width: 40%;
            margin: 0 1rem;
        }
        header .search-bar input {
            width: 100%;
            border-radius:5px;
            background-color: white;
            background-image: url("../img/search-icon.png");
            background-repeat: no-repeat;
            font-size: smaller;
            background-size: 20px;
            background-position: right;
            border: 3px solid transparent;
        }
        header nav {
            display: flex;
            align-items: center;
            flex-direction: row;
        }

                header nav div{
                    padding: 0 1em;
                    font-size: 1.1rem;
                    font-weight:200;
                }


                header .menu-burguer {
                    display: none;
                }

                .dropdown-container {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                }

                        .dropdown-menu-toggle {
                            padding: 0.5rem auto;
                            
                        }
                        .dropdown-items {
                            padding: 0.5rem;
                            border-radius: 5px;
                            border-top-right-radius: 0px;
                            background-color: rgba(0, 0, 0, 0.833);
                            box-shadow: 5px 8px 16px 0px rgba(0,0,0,0.8);
                            position: absolute;
                            z-index: 1;
                            margin-top: 27px;
                            
                        }

                        .dropdown-items ul {
                            display: flex;
                            flex-direction: column;
                        }

                        .dropdown-items ul li {
                            margin-right: 0;
                            margin-left: auto;
                        }

                        .selected-menu {
                            background-color: rgb(42, 42, 45);
                            font-weight: 500;
                            border-radius: 5px;
                        }

/* 2. MAIN  */


/*------   SUB MENU   */
        .sub-menu ul {
            display: flex;
            justify-content: space-around;
            padding: 0.25rem;
            background-color: rgb(232, 232, 236);
            font-size: 0.8rem;
            font-weight:bold;
            text-transform:uppercase;
        }


        .sub-menu ul li:hover {
            transform: scale(1.05);
            font-weight: bold;
        }

            .sub-menu .emphasis-menu {
                color: rgb(14, 14, 131);
            }

/*------  HERO         */


   .carousel-inner , .carousel-item{
    max-height: 400px;
   }

   .carousel-inner , .carousel-item img {
       max-height: fit-content;
       
   }

/*   prop-bar   */

.prop-bar {
    background-color: rgb(14, 14, 131);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

    .prop-bar .prop-icon {
        display: flex;
        align-items: center;
    }

            .prop-bar svg {
                fill: white;
                height: 40px;
                margin: 1rem;
            }

            .prop-bar .text {
            display: flex;
            flex-direction: column;
            width: 10rem;
            }

                    .prop-bar h4 {
                        font-size: 1rem;
                        color: white;
                        text-transform: uppercase;
                        margin: 0;
                    }

                    .prop-bar p {
                        color: rgb(224, 219, 219);
                        font-size: 0.8rem;
                        margin: 0;
                    }


/*------  article    */

        .glider-container {
            margin: 1rem 3rem;
            text-align: center;
            display: flex;
            align-items: center;
        }

        .responsive-next, .responsive-prev {
            padding: 0 1rem;
            font-size: 3rem;
            color: rgb(103, 103, 107);
        }

                     .figure-container {
                    display: flex;
                    flex-direction: column;
                    margin: 1rem;
                    background-color: rgba(25, 107, 240, 0.124);
                    box-shadow: 5px 5px 10px 0 rgb(202, 198, 198);
                    align-items: center;
                    justify-content: space-between;
                    width:15rem;
                    height: 25rem;
                    border-radius: 10px;
                }

                        .figure-container:hover {
                            transform: scale(1.05);
                            background-color:white;
                            box-shadow: 12px 12px 10px rgb(204, 204, 204);
                        }

                        .figure-container .img-container {
                            height: 50%;
                            margin: 0.5rem;
                            display: flex;
                            align-items: center;
                            justify-content: center;
            
                        }
                                .img-container img {
                                    max-width:100%;
                                    max-height: 100%;
                                }
                        
                        .figure-container figcaption {
                            margin: 0 1rem;
                            text-align: left;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }

                                figcaption .description {
                                    margin-bottom: 0.5rem;
                                }

                                figcaption .details {
                                    font-size: 0.7rem;
                                    color:gray;
                                }

                                figcaption .preco {
                                    color: red;
                                    font-weight: bold;
                                }
                        .figure-container button {
                            background-color: rgb(14, 14, 131);
                            color:white;
                            border-radius: 5px;
                           
                            padding: 0.2rem 1rem;
                            margin-bottom: 1rem;
                        }

/*----- newsletter      */

#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 131);
    background-size: cover;
    color: white;
    padding: 1rem;
}

    #newsletter svg{
        padding-right: 2rem;
        height: 40px;
        fill: white;
    }


    #newsletter h4 {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 0%;
    }
    #newsletter p {
       color:rgb(224, 222, 228);
    }

    #newsletter input {
        width: 40%;
        margin: 0 1rem;
        padding: 0.5rem;
        border-radius: 5px;
    }

    #newsletter button {
        background-color: rgb(14, 14, 131);
        border-radius: 5px;
        border-color: white;
        border-width: 3px;
        color:white;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }


/*-----  3. FOOTER     */

footer {
    display: flex;
    justify-content: space-around;
    color:white;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
}
        .footer-section {
            padding: 1rem;
            width: 250px;
        }

        .footer-section p {
            color: rgb(190, 186, 186);
        }

        .icone-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    footer .footer-svg {
                fill: white;
                height: 15px;
                margin: 0.5rem;
    }



 /*  REGISTER FORM */    
 
    #register-form {
   
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
     background-color: white;
 }

        #register-form .form-body {
            margin: 5rem;
            display: flex;
            padding: 2rem;
            flex-direction: column;
            align-items: center;
            background-color: rgb(225, 225, 225);
            width: 200px;
            box-shadow: 5px 5px 10px rgb(109, 109, 109);
            border-radius: 5px;
        }
        #register-form .form-body div{
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0;
        }
        #register-form .form-body button {
            padding: 0.2rem;
            border-radius: 5px;
        }
        #register-form .form-body input {
            padding: 0.1rem;
            border-radius: 5px;
            margin-top: 0.25rem;
        }

        #register-form p {
            margin-top: 1rem;
            font-size: 0.75rem;
            text-align: justify;
            line-height: 95%;
        }


/*     MEDIA QUERY        */

    @media only screen and (max-width: 1000px) {

            /*  HEADER */
        
            header nav div{
                padding: 0 0.5rem;
            }

            /*  prop - bar  */
                
            .prop-bar svg {
                height: 20px;
                margin: 0.5rem;
            }

            .prop-bar .text {
                margin: 0.5rem 0;
                width: 10rem;
            }
        
            .prop-bar h4 {
                font-size: 1rem;
            }
        
            .prop-bar p {
                font-size: 0.7rem;
            }

            
    }



    @media only screen and (max-width: 800px) {
        
            .sub-menu {
                    display: none;
                }

            header {
                padding: 1rem;
                margin-top: 0; 
            }


    }

    @media only screen and (max-width: 700px) {

            html {
                font-size: 14px;
            }


            /*   head */

             header .logo img {
                        width: 8rem;
            }

            header .search-bar {
                        width: 50%;
            }
            
            header .dropdown-container {
                         display: none;
            }
                            

            header .menu-burguer {
                display: flex;
               
            }

                header .menu-burguer img {
                    width: 20px;
                    align-items: center;
                }

             /*  prop - bar  */
    

                    
            #newsletter svg{
                height: 25px;
            }
                    
                    
            #newsletter h4 {
                font-size: 1.3rem;
            }

            #newsletter p {
                font-size: 0.9rem;
            }
                    
            #newsletter input {
                padding: 0.2rem 0.5rem;
            }
                    
            #newsletter button {
                padding: 0.25rem 1rem;
                font-size: 0.9rem;
            }

            .glider-container {
                margin: 1rem 1rem;
            }

    }

    @media only screen and (max-width: 600px) {

            .figure-container .img-container {
                height: 60%;
            }

                                
            .figure-container figcaption {
                font-size: large;
            }

                figcaption .details {
                    font-size: 1rem;
                }
        
            .figure-container button {
                padding: 0.2rem 1rem;
                margin-bottom: 1rem;
            }

    }


    @media only screen and (max-width: 500px) {
            
            .figure-container figcaption {
                font-size:medium;
            }

            #newsletter h4 {
                display: none;
            }
            #newsletter p {
               display: none;
            }


}